
<h4><strong>Issue Register Confirmation </strong></h4>
<h5><strong>GM SoftSolutions </strong></h5>

<br/>
<p>
    Thank you for register in our profesionals database.
    It's really important to be updated and to learn new libraries, frameworks, technologies that
    its present and future in this knowledge society.
</p>
<p>
   <strong>Issue Register: </strong> <br/>
   {{ materia }}
</p>

<p>
    Date: {{ hoy.date|date:'d-m-Y' }} <br/>
    Time:  {{ hoy.time|time:'H:i' }}
</p>

<p>
    <b>Important</b><br/>
    We send you an informative email about the next dates and planning of the courses and issues.
    Also, we will publish notice on the web and social networks. <br/>
</p>

<p>
    Thanks for choosing us and belong to this great community of knowledge. <br/>
    Best regards, <br/>
</p>
<h4><a href="http://www.gmsoftsolutions.net"> GM SOFT SOLUTIONS </a></h4>